#bag{
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url(img/bag.png) center no-repeat;
    background-size: 80%;
    border: 1px solid black;
}
#bag.active{
    background-image: url(img/bag-burst.png);
}
#bag-length{
    width: 200px;
    border: 1px solid black;
    margin: 30px auto;
}
#bag-length div{
    height: 20px;

    background-color: red;
}
#btn-box{
    width: 200px;
    margin: 0 auto;
}
#btn-box button{
    height: 30px;
    margin-left: 20px;
}